<!DOCTYPE html>
<html>
<head>
  <title>MattsBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Matt's Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/posts/new"> Create Post <i class="fa fa-plus-square-o"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.linkedin.com/profile/view?id=278183632&trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="http://www.twitter.com/mthees7" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="http://github.com/mthees7" target="_blank"><i class="fa fa-github-square"></i></a></li>
        <li><a href="http://mthees7.github.io" target="_blank"><i class="fa fa-user"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</html>
